<tr id="contact_<%= contact.id %>">
  <td><%= contact.email %></td>
  <td><%= contact.subject %></td>
  <td><%= contact.description %></td>
  <td><%= contact.first_name %></td>
  <td><%= contact.last_name %></td>
  <td><%= link_to 'Delete', contact_path(contact), method: :delete %> </td>
</tr>
